<h1>Listing entries</h1>

<table>
  <tr>
    <th>User_Id</th>
    <th>Subject</th>
    <th>Entry Date</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @entries.each do |entry| %>
  <tr>
    <td><%= entry.user_id %></td>
    <td><%= entry.subject %></td>
    <td>test</td>
    <td><%= entry.content %></td>
  </tr>
<% end %>
</table>

<br />