<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>tell me now <%= @user.name %></h1>
    
    <p>love,<br>dayrobot</p>
  </body>
</html>