<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>welcome to dayrobot, <%= @user.name %></h1>
    <p>
      your username is: <%= @user.email %>.<br/>
    </p>
    <p>
      to login to the site, just follow this link: <%= @url %>.
    </p>
    <p>love,<br>dayrobot</p>
  </body>
</html>