<h1>
	<%= @user.name %>
</h1>
<table class="entries">
	
	
	<% @user.entries.order("entry_date DESC").each do |entry| %>

	
	  <tr class="entry">
		<td><%= entry.entry_date %></td>
		<td><%= raw tagger(entry.content) %></td>
	  </tr>
	<% end %>
</table>