<header>
	<nav class="round">
		<ul>
			<li><%= link_to "dayrobot", root_path, :id => "logo" %></li>
			<li><%= link_to "register", register_path, :class => nav_link("register") %></li>
			<li><%= link_to "login", '#' %></li>
		</ul>
	</nav>
</header>